
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
nav{
  position: fixed;
  background: #025318;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px; */
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight:bold;
}
.logo img{
      padding-left: 20px;
   
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.bigContainer{
    padding-top: 250px;
    padding-left: 6%;
}
.bigContainer h1{
    font-size: 70px;
    color: white;
    text-align: left;
    /* margin-bottom: 3%; */
}
.button{
    padding-top: 20px;
}
.learnmore{
    padding: 17px;
    width: 175px;
    background-color: #011A05;
    color: white;
    text-decoration: none;
    font-size: medium;
    border-radius: 8px;
 
}
.learnmore a{
    text-decoration: none;
    color: white;
}

#downloadapp{
     padding: 17px;
     width: 175px;
     background-color:transparent;
     color: #026612;
    /* border-color: #011A05; */
     border: 2px solid #026612;
     box-shadow: 0 3px 5px rgb(24, 23, 23);
     border-radius: 8px;
     margin-left: 4%;
}

.container{
    background-image: linear-gradient(rgba(0,0,0.5),rgba(0,0,0.5))url('images/black-white-spotty-cows-farm.jpg');
    background-repeat:no-repeat ;
    /* background-position: inherit; */
    height: 100vh;
     background-color: rgba(0,0,0,0.9);
    background-blend-mode: darken;
    opacity: 10px;
}
.about-us h1{
 font-weight: 800;
 font-size: 64px;
 line-height: 77px;
 text-align: center;
}
.about-us{
    padding-top: 40px;
    padding-bottom: 40px;
}
.image img{
    border-radius: 10px;
    opacity:  50% black;
    box-shadow:  0 1px 3px black;
  
}
.best{
    margin-top: 10%;
}
.best h2{
    font-size: 64px;
     font-weight: normal;
     text-align: left;
     margin-bottom: 4%;
     line-height: 77px;
     color: #001904;
}
.best p{
    text-align: left;
    font-size: 20px;

}

.making-best{
    display: flex;
   gap: 5cm;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 30px;
}
.making-best p{
    color: #034E16;
}
.commitment{
    display: flex;
   padding-left: 30px;
   gap: 5cm;
}
.commitments h1{
     font-size: 64px;
     font-weight: normal;
     text-align: left;
     margin-bottom: 4%;
     line-height: 77px;
}
.commitment p{
     color: #034E16;
     text-align: left;
     font-size: 20px; 
}
.experiences h2{
    font-size: xx-large;
      color: #001904;
     

}

.why-chose-agricreds{
    align-items: center;
}

.agricreds{
    text-align: center;
    /* margin-bottom: 7%; */
    padding-top: 40px;
    padding-bottom: 60px;
      
}
.agricreds h1{
   font-size: 64px;
     font-weight: normal;
     text-align: center;
     margin-bottom: 0.5%;
     line-height: 77px;
}
.agricreds p{
     color: #034E16;
    font-size: 20px;

}
.about{
    display: flex; 
    padding-left: 60px;
    gap: 3cm;
}
.about p{
      color: #034E16;
      font-size: large;
}
.about{
    padding-top: 5px;

}

.rates img{
        width: 90px;
    
}
.terms img{
         width: 66px;
         
   
}
.support img{
        width: 90px;
}

.loan-program{
    display: flex;
    gap: 2cm;
     color: #001904;
    
}
.loan-program h2{
     color: #001904;

}
.loan-program p{
    font-size: large;

}
.loan-programs{
    padding-left: 70px;
    margin-top: 7%;
    padding-bottom: 60px;

  
}
.loan-programs h2{
   
}
.loan-programs p{
      color: #034E16;
}
.loan-program img{
    width: 20vw;
    height: 26vh;
    border-radius: 10px;
    opacity:  50% black;
    box-shadow:  0 1px 3px black;
}
.download-app{
    background-image: url(images/monika-kubala-OpMfiq8nPI0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    background-position: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
    opacity: 50px black;
}
.download-app{
    /* padding-top: 17%;
    padding-left: 37%;
    color: white;
    margin-bottom: 12%; */
}
.download-app h3{
   text-align: center;
    color: white;
    padding-top: 200px;
    font-size: xx-large;
    font-weight: lighter;
}
.download-app p{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 400;
    color: white;

}
.download-app button{
    margin-top: 2%;
    padding: 17px;
    width: 170px;
    background-color: #011A05;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 45%;
    font-size: large;
}
.container{
    background-image: url(images/black-white-spotty-cows-farm.jpg);
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
}
.image img{
    width: 42vw;
    height: 70vh;
}
.experiences{
    margin-top: 7%;
    display: flex;
    gap: 5cm;
}
.images img{
    width: 8vw;
    height: 12vh;
    margin-left: 15%;
    /* justify-content: space-around; */
    
    
    /* border-radius: 50% 50%; */
    /* margin-right: 5%;
    margin-left: 5%; */
}

.partnerships h1{
     font-size: 64px;
     font-weight: normal;
     text-align: center;
     margin-bottom: 0.5%;
     line-height: 77px;
}
.partnerships h2{
    padding-left: 40px;
    padding-bottom: 30px;
    font-size: 30px;
      color: #001904;
}
.partnerships {
  padding-top: 60px;
  padding-bottom: 60px;
}

.loan-programs h1{
     font-size: 64px;
     font-weight: normal;
     text-align: center;
     margin-bottom: 4%;
     line-height: 77px;
    

}

.review-icons-image {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    .review-image {
        position: absolute;
        overflow: visible;

        img {
            border-radius: 50%;
            width: 24vh;
            height: 22vh;
            border: 3px solid #085e16;
        }
    }

    .left-icon i {
        color: white;
        margin-top: 330px;
        background-color: #001904;
        padding: 20px;
        border-radius: 50px;
        width: 100%;
        
    }

    .right-icon i {
        color: white;
        margin-top: 330px;
        background-color: #001904;
       padding: 20px;
        border-radius: 50px;
        width: 100%;
    }

    .review {
        margin-top: 130px;
        width: 25%;
        background-color: #001904;
        color: white;
        padding: 50px;
        font-size: 18px;
        border-radius: 20px;
    }
}

.revews{
  padding-top: 40px;
  padding-bottom: 30px;
  
}
.revews h1 {
     font-size: 64px;
     font-weight: normal;
     text-align: center;
     margin-bottom: 0.2%;
     line-height: 77px;
}
.contactus{
     font-size: medium;

}
.foot{
     background-color: #001904;
     color: rgb(216, 215, 215);
     margin: 0px;
     padding-top: 45px;

}

.ally{
    display: flex;
    /* justify-content: space-between; */
    gap: 9cm;
    padding-left: 50px;
     /* background-color: rgb(8, 17, 8); */

}
.socialicons{
    display: flex;
    gap: 1cm;

}
.bottom{
    display: flex;
    gap: 8cm;
    font-size: medium;
    padding-top: 20px;
    border-top:  solid 1px white;
    margin-left: 4%;
    margin-right: 4%;
}
.services{
    font-size: medium;
}
.links{
     font-size: medium;
}
.form{
    padding-bottom: 20px;
    label{
        color:white
    }
    input{
        width: 80%;
        padding: 12px 14px;
        background-color: #001904;
        color: white;
        border: solid 1px white;
        transition: border-color 60s ease;
    }
    label{
        font-size: medium;
        
    }
  

}
.submit-button button{
    background: none;
    border: none;
    background-color:white;
    width: 65%;
    color: black;
    padding: 11px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}
#message{
    padding-bottom: 70px;
}